@import "tailwindcss";

@font-face {
  font-family: "AvantGarde";
  src: url("../assets/fonts/ITCAvantGardeStd-Md.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("../assets/fonts/ITCAvantGardeStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-custom: "AvantGarde", sans-serif;
  --color-primary: #111827;
  --color-secondary: #9ab2e9;
  --color-third: #eeeef8;
}

@layer base {
  body {
    font-family: var(--font-custom);
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  .wave {
    z-index: 0;
  }

  .wave:before {
    content: "";
    background-image: url(../assets/wave.png);
    background-repeat: no-repeat;
    transition: 1.5s ease;
    height: 100%;
    background-position: 600% 0;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .wave:hover::before {
    background-position: center;
  }

  @media screen and (max-width: 1024px) {
    .wave:before {
      content: none;
    }
  }

  h3 {
    text-transform: uppercase;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.title {
  border-left: 20px solid var(--color-secondary);
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

main:before {
  content: "";
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
  background-image: url(../assets/noise.png);
  width: 300%;
  height: 300%;
  animation: 8s steps(10, end) infinite grain;
  position: fixed;
  top: -100%;
  left: -50%;
}
